div#character_info{
  width:60%;
  padding-left:20%;
}
div#character_info>img{
  padding:0px;
  width:50%;
  float:left;
}
div#character_info>img+dl{
  padding-right:3%;
  padding-left:1%;  
  width:46%;
  float:left;
  text-align:left
}
div#character_info>img+dl+dl{
  clear:left;
  width:100%;
  text-align:left;
}
input[type="number"]{
	width:5em;
}
table#download tr,table#download td,table#download th{
	padding:5px;
}
ul.information{
	text-align:center;
  list-style-type:none;
}
table.information tr,table.information td,table.information th{
	padding:5px;
}
ul.information> li+button{
	padding-left:5px;
	padding-right:5px;
	display:inline;
}
div.show_item_info{
	width:250px;
}
div.show_item_info p{
	font-size:0.8em;
	min-height:20px;
  text-align:center;
}
.excellent_item_name{
	color:#2FF387;
}
.gold_item_name{
	color:#F4CB3F;
}
p.show_item_excellent_options{
	color:#9aadd5;
}
#get_items td{
	width:30px;
	height:30px;
	padding:0px;
	margin:0px;
	border:2px solid BurlyWood ;
}
#get_items tr{
	padding:0px;
	margin:0px;
}
#get_items input[type="radio"]{
	display:none;
}
#get_items input[type="radio"]+label>img{
	opacity:0.5;
}
#get_items input[type="radio"]:checked+label>img{
	opacity:1;
	border:1px solid red;
}
#get_items input[type="radio"]+label:hover>img{
	opacity:1;
}
#get_items_div{
  display:none;
}
input.money{
	width:8em;
}
table.ranking th,td{
	padding-left:4px;
	padding-right:4px;
}
td>div.hidden_characters{
  display:none;
  width:80px;
  margin-left:-10px;
  min-height:50px;
}
td:hover>div.hidden_characters{
  display:block;
  position:absolute;
  background:black;
  border:1px solid red;
  text-align:center;
}
ul{
  list-style:none;
}
div.news_content{
  display:none;
}
div#character_info>table{
  padding:0px;
  width:50%;
  float:left;
}
div#character_info>table+dl{
  padding-right:3%;
  padding-left:1%;  
  width:46%;
  float:left;
  text-align:left
}
div#character_info>table+dl+dl{
  clear:left;
  width:100%;
  text-align:left;
}
div#accordion{
  padding-left:10px;
  padding-right:10px;
}
div#accordion>h3{
  cursor:pointer;
  text-align:left;
  font-size:1.3em;
}
div#accordion>h3+div{
  overflow:hidden;
	padding-left:10px;
}
div#accordion>h3+div>p{
  text-align:left;
  text-indent: 1em;
}
div#accordion>h3+div>p:nth-child(2){
  float:left;
  margin-top:20px;
}
div#accordion>h3+div>p:last-child{
  float:right;
  margin-top:20px;
}