header>nav{
  width:100%;
  text-align:center;
  height:100px;
}
heacer>nav>a{
  position:absolute;
  z-index:1;
}
body>div.body{
  margin-left:auto;
  margin-right:auto;
}
div#background-logo{
  position:relative;
  left:5%;
  top:-100px;
  z-index:-1;
  overflow:hidden;
  width:90%;
}
div#background-logo>img:first-child{
  float:left;
  position:relative;
  left:10%;
  z-index:1;
  width:28%;
}
div#background-logo>img:last-child{
  float:right;
  position:relative;
  right:10%;
  width:32%;
  z-index:1;
}
div#background-logo>div{
  width: 40%;
  height: 0;
  padding-bottom: 40%;
  float:left;
  position:relative;
}
div#background-logo>div>h1{
  position:relative;
  top:25%;
  -ms-transform:rotate(10deg); /* IE 9 */
  -webkit-transform:rotate(10deg); /* Chrome, Safari, Opera */
  transform:rotate(10deg); /* Standard syntax */
}
div#background-logo>div>p:first-child{
  position:relative;
  top:30%;
  left:10%;
  -ms-transform:rotate(10deg); /* IE 9 */
  -webkit-transform:rotate(10deg); /* Chrome, Safari, Opera */
  transform:rotate(10deg); /* Standard syntax */
}
div#background-logo>div>p:nth-child(3){
  position:relative;
  top:20%;
  left:-10%;
  -ms-transform:rotate(10deg); /* IE 9 */
  -webkit-transform:rotate(10deg); /* Chrome, Safari, Opera */
  transform:rotate(10deg); /* Standard syntax */
}
div#background-logo>div>p:nth-child(4){
  position:relative;
  top:30%;
  -ms-transform:rotate(-10deg); /* IE 9 */
  -webkit-transform:rotate(-10deg); /* Chrome, Safari, Opera */
  transform:rotate(-10deg); /* Standard syntax */
}
section{
  position:relative;
  left:10%;
  margin-top:-250px;
  z-index:1;
}
section>div#content{
  position:relative;
  float:left;
  text-align:center;
}
section>div#left_menu{
  float:left;
  position:relative;
  left:10%;
  z-index:-1;
}
section>div#right_menu{
  float:right;
  position:relative;
  right:10%;
  z-index:-1;
}
div.leftSpear:empty{
	position:relative;
	top:60px;
	left:100px;
}
div.rightSpear:empty{
	position:relative;
	top:60px;
	left:-100px;
}
ul>li:hover>ul.ver_nav{
  position:absolute;
  margin-left:-10px;
}
footer{
  clear:both;
  text-align:center;
  padding-top:30px;
}