
@media screen and (max-width: 900px){
  body>div.body{
    width:900px;
  }
}
@media screen and (max-width: 1024px) and (min-width:900px){
  body>div.body{
    width:1000px;
  }
}
@media screen and (min-width: 1280px){
  body>div.body{
    width:1200px;
  }
}