/* Reset CSS */
* {padding:0;margin:0;font-size:100%;font-family:Sans-Serif; cursor:default;}
ul,ol {list-style:none;}
table {border-collapse:collapse;border-spacing:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
/* END Reset */
body {
	line-height:1;
	background-color:#fefefe;
	font-size:13px;
}
a, a:link, a:visited, a:active {
	text-decoration:none;
	cursor:pointer;
	color:#00E;
}
a:hover { color:#384090; }
.box,
table {
	border:1px solid #ddd;
	width:100%;
	margin-bottom:10px;
}
table td {
	padding:10px;
	background-color: #fafafa;
	border-bottom:1px solid #f1f1f1;
}
table tr:nth-child(even) td {
	background-color: #fefefe;
}
table tr:nth-last-child(1) td {
	border-bottom:1px solid #ddd;
}
table td.tdTitle {
	width:30%;
	padding:10px;
	background-color:#f8f8f8;
	text-transform:uppercase;
	border:1px solid #ddd;
	font-weight:bold;
}
.boxTitle,
.title td {
	padding:10px;
	background-color:#f8f8f8;
	text-transform:uppercase;
	border-right:1px solid #ddd;
	border-bottom:1px solid #ddd;
	font-weight:bold;
}
.boxTitle {
	border-right-width:0;
	border-bottom-width:0;
}
.boxBody{
	padding:10px;
	border-top:1px solid #ddd;
	background-color: #fefefe;
}
.boxFooter{
	padding:10px;
	border-top:1px solid #f1f1f1;
	background-color: #fafafa;
}
.main_body {
	width:900px;
	margin:auto;
}
header .logo {
	margin:30px;
	text-align:center;
}
nav ul {
	padding:12px 0px 11px;
	border-top:1px solid #ddd;
	border-right:1px solid #ddd;
	border-bottom:1px solid #ddd;
}
nav li {
	display:inline;
	margin:0 10px 0 0;
}
nav li a, nav li a:link, nav li a:visited, nav li a:active {
	color:#000;
	text-decoration:none;
	padding:10px 15px;
	background-color:#f9f9f9;
	border-left:1px solid #ddd;
	border-right:1px solid #ddd;
}
.side_menu {
	width:100%;
}
.side_menu li {
	padding:8px 10px;
	border-bottom:1px solid #ddd;
}
.side_menu li a:hover {
	padding-left:10px;
}
#container {
	padding:10px;
}
footer {
	border-top:1px solid #ddd;
	padding:10px 15px;
}
.col_1 {
	width:70%;
}
.col_2 {
	width:29%;
}
.left {
	display:inline;
	float:left;
	text-align:left;
}
.right {
	display:inline;
	float:right;
	text-align:left;
}

.clearfix:before,
.clearfix:after {
	content: '.';
	display: block;
	overflow: hidden;
	visibility: hidden;
	font-size: 0;
	line-height: 0;
	width: 0;
	height: 0;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	zoom: 1;
}
.form {
	margin:auto;
	width:45%;
}
label {
	display:block;
	padding:3px 5px;
}
input {
	cursor:text;
	padding:3px 5px;
}
select {
	cursor:pointer;
	padding:3px 5px;
}
.form li {
	padding:3px 5px;
}
input.button,
.buttons input {
	cursor:pointer;
	margin:5px 5px 0;
	padding:4px 10px;
	background-color:#efefef;
	border:1px solid #ccc;
}
input.button:active,
input.button:focus,
.buttons input:active,
.buttons input:focus {
	background-color:#e8e8e8;
	border:1px solid #bbb;
}
.pointer {
	cursor:pointer;
}
.hide {
	display:none;
	border-bottom-width:0;
}
.error,
.success {
	background-color:#efefef;
	border:1px solid #ddd;
	color:#850000;
	padding:8px;
	font-weight:bold;
	margin:4px 0;
}
.success {
	color:#007500;
}
.inline_box {
	width:200px;
	vertical-align:top;
	display:inline-block;
	text-align:center;
}
.normal_caps {
	text-transform:capitalize;
	font-weight:normal;
}