table#character_info td{
	padding-left:10px;
	text-align:left;
}
table#character_info tr>td:nth-child(odd){
	text-align:right;
}
input[type="number"]{
	width:5em;
}
table.ranking a{
	color:white;
}
table.ranking a:hover{
	color:gold;
}
table#download tr,table#download td,table#download th{
	padding:5px;
}
ul.information{
	text-align:center;
}
table.information tr,table.information td,table.information th{
	padding:5px;
}
ul.information> li+button{
	padding-left:5px;
	padding-right:5px;
	display:inline;
}