*{
	padding:0px;
	margin:0px;
	font-style:italic;
	color:white;	
	font-size:14px;
	font-family:Verdana,Arial,Sans-serif;
	text-decoration:none;
}
a{
	color:white;
}
a:hover{
	color:gold;
}
header nav a{
	color:black;
}
header nav a{
	font-weight:bold;
	padding-top:10px;
	font-size:1.5em;
	font-variant:small-caps;
    letter-spacing: 0.3em; 
	padding-left:1em;
	padding-right:1em;
}
header a:hover{
	color:LightCyan;
}
h1,h2,h3,h4,h5,h6{
	font-variant:small-caps;
}
h1{
	min-height:2em;
	font-size:2em;
	text-align:left;
	padding-left:10px;
}
h2{
    min-height:1.5em;
	font-size:1.5em;
}
h3{
	font-size:1.3em;
}
p{
    min-height:1em;
}
.success{
	font-weight:bold;
	color:#00FF00;
}
.error{
	font-weight:bold;
	color:#CC0000;
}
th{
	color:Gold;
}