#user_panel_menu ul{
	padding:0px;
	margin:0px;
	margin-bottom:5px;
}
#user_panel_menu{
	padding:0px;
	margin:0px;
}
#user_panel_menu ul.left{
	width:49%;
	float:left;
}
#user_panel_menu ul.right{
	width:49%;
	float:right;
}
#user_panel_menu ul li{
	border:3px solid white;
	background-color:LightCyan;
	color:black;
	padding:0px;
	margin:0px;
	width:85%;
	margin-bottom:2px;
}
#user_panel_menu h3{
	clear:both;
}
#user_panel_menu ul.left li{
	float:left;
	border-left:none;
	border-top-right-radius:10px;
	border-bottom-right-radius:10px;
	padding-right:5px;
	text-align:right;
}
#user_panel_menu ul.right li{
	float:right;
	padding-left:5px;
	border-right:none;
	border-top-left-radius:10px;
	border-bottom-left-radius:10px;
}
#user_panel_menu ul.left li:hover{
	width:100%;
}
#user_panel_menu ul.right li:hover{
	width:100%;
}
#user_panel_menu ul.center{
	width:100%;
	clear:both;
}
#user_panel_menu ul.center li{
	text-align:center;
	padding-left:5px;
	padding-right:5px;
	border-right:none;
	border-left:none;
}
#user_panel_menu>li{
	width:100%;
	cursor:pointer;
	text-align:center;
	clear:both;
}

#user_panel_menu li ul{
	overflow-y: hidden;
	max-height: 0px; 
	transition: all 2s;
}
#user_panel_menu li:hover ul{
	overflow-y: hidden;
	transition: all 2s;
	max-height:500px; 
}
dl#login_panel_user_information dd{
	padding-left:30px;
}
dl#login_panel_user_information{
	display:none;
}
button:hover+dl#login_panel_user_information{
	display:block;
	position:absolute;
	z-index:1;
	background-color:grey;
	padding-left:5px;
	padding-right:5px;
	width:191px;
	text-align:left;
}	